

@font-face {
    font-family: "Roboto";
    src: url("./base/polices/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand";
    src: url("./base/polices/shrikhand/Shrikhand-Regular.otf");  
}



//*************************************************************************/
//***************************   smartPhone  ********************************/
//*************************************************************************/
@media screen and (max-width : 767px){
                   

.vewport{
    width:499px;
    min-width:319px;
}
//************************************* variables color ****/
$Primaire: #9356DC; 
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0 ; 

$background-col: #f2f2f2;


//************************************* variables fonts ****/
$fontFamily1: "roboto";
$fontFamily2: "Shrikhand";

// *************************  mixin  *********/



//************************************* structure strings ****/

h1{ font-family: $fontFamily2;}

h2{ font-family: $fontFamily1;
    font-size: 20px; color:black;  font-weight: bold;}
h3{ font-family: $fontFamily1;
    font-size: 16px; color:black; font-weight: bold;}
p{font-family: $fontFamily1;
    font-size: 14px;color:black;} 


//************************************* container ****/
body{       
   
width: 97%;
padding:5px;
margin:0 auto;
}
    
  

//**************** page d'accueil *****/
//***************   header   ****************/

header {
width:95%;
display:flex;
justify-content: center;
padding: 20px 0;
margin: 0 auto;
    & img{
    width:60%;
    margin: 0 auto;
    }

}
//    ---- ** load spinner
// --- --- ----- 


@keyframes spAp {
    0% {
    opacity:1;
    z-index: 999;
    position:absolute;
    background-color: darken($background-col,30);
    }
   80%{
        opacity:1;
        z-index: 999;
        position:absolute;
        background-color:darken($background-col,5);  
    }
    90% {
    opacity:1;
    z-index:999;
    position:absolute;
    background-color: darken($background-col,1);
    }
    100% {
    opacity:0;
    z-index:-1;
    position:relative;
    background-color:transparent;
    }
}

.sp-heart {
    width:100%;
    height:100%;   
    opacity:0;
    z-index: -1;
    position: relative; 
    animation: spAp 3s 1 cubic-bezier(0.215, 0.61, 0.355, 1); 
      
        
        & div{
        z-index:1;
        width: 50%;
        height:50%;
        margin: 0 auto;
        display:flex;
        justify-content: center;  

            & i{
            color:lighten($Primaire,15);
            font-size: 300px;
            transform-origin: 50%;
            position: absolute;
            bottom:200px;           
            background: inherit;
            animation: sp-heart 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-delay: .1s;
            animation-iteration-count:2;
            opacity:0;
            }
        
    
            & div:after, div:before {
            content: " ";
            position: absolute;
            display: block;
            width: 10px;
            height:10px;
            background: inherit;
            }
        
            & i:before {
            border-radius: 50% 0 0 50%;
            }
            & i:after {
            border-radius: 50% 50% 0 0;
            
            }
        }
    }
    @keyframes sp-heart {
        0% {
        transform: scale(0.95);
        opacity:0;
        }
        5% {
        transform: scale(1.1);
        opacity:5%;
        }
        39% {
        transform: scale(0.85);
        opacity:39%;
        }
        45% {
        transform: scale(1);
        opacity:45%;
        }
        60% {
        transform: scale(0.95);
        opacity:60%;
        }
        100% {
        transform: scale(0.9);
        opacity:0%;
        }
        
    }


//***************   localisation  ****************/


.localisation{
width:100%;
background-color: $background-col; 
padding-bottom: 30px;
text-align: center;
margin:0 auto;

    & h2{
    font-size:20px;
    }
   
    & input{  
    width:50%;  
    border:none;
    color:black;
    font-size: 17px;
    font-weight: bolder;
    background-color: darken($background-col,5) ;     
    margin: 10px auto;
    text-align: center;
    border:none;
        
        & i{
        font-size: 12px;
        } 
   
        & textarea :focus{
        background-color: darken($background-col,5);
        border:none;
        outline:none;
        }
        & textarea :active{
        background-color: darken($background-col,5);
        border:none;
        outline:none;
        }
    }     
        
    

    & .choixVille{
    font-size:20px;
    width:99% ;
    background-color: darken($background-col,5);
    padding:10px 0px;  
    box-shadow:  0px -2px 0px 1px darken($background-col, 35);
    text-align: center;
    margin:0 auto;


    }

    & .btnVille{
    color: white;
    font-size: 16px;
    width:250px;
    padding:20px;
    background: linear-gradient($Secondaire, $Primaire);
    border-radius: 50px;
    border:none;
    margin:0 auto;
        &:hover{
        cursor:pointer;       
        background: lighten($Secondaire, 1);
        }
        & :focus{  
        border:0;
        outline:0;
        }
        & :active{
        border:0;
        outline:0; 
        }

    }
   

   
   
}
   
    //***************  fin localisation   ****************/
    //**************  début presentation  ********/

.presentation{
width:100%;
margin:0 auto;
    & .pres{
    margin:0 auto;    
    }

    & h2{
    margin-left: 30px;
    font-size: 20px;
    }

    & ul{
    list-style: none;
    padding:0; 
    display: block;
    justify-content: left;     
    
        & li{
        width:95%;
        margin:0 auto;    
    
            & :hover {
            background-color: lighten($color: $Primaire, $amount: 35);
            box-shadow:  0px 2px 2px 1px darken($background-col, 75);
            
                & :not(.fcct1){                
                box-shadow: none;
                }
            }
        }

    }

    & .fctt1 {
    width:95%;
    display:flex;
    padding: 0;
    margin:20px auto;    
    border-radius: 35px;   
    background-color: $background-col ;
    box-shadow:  0px 5px 2px 1px darken($background-col, 25); 

        & p{
        margin-left: -15px;
        border: 1px solid $Primaire;
        padding:5px 10px;
        background-color: $Primaire;
        color: white;
        border-radius: 50%;
        }
    
        & i{
        align-content: center;
        font-size:22px;
        padding: 20px 10px;
        color:grey;
      
        }  
        & .icoStore i{           
        color:$Primaire;              
        }

    }  

    & a{
    font-family: "Roboto";
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-weight: bold;
    border:none;
    padding: 20px 0;
       
    }   
}
  //**************  fin presentation ********/
 //**************  début Restaurant  ********/

#sectionResto{
    width:100%;
    background-color: $background-col;
    padding:30px 0 60px 0px; 
    margin: 50px auto;
    line-height: 1em;

    
        & .lien_blocResto_page{
        text-decoration: none;
            & :hover{
            cursor: pointer;
            }
    }
    & .resto{
    width:100%;
    margin:0 auto;
    }

    & h2{    
    margin-left: 30px;
    font-size: 20px;
           
    }

    & p{
    font-size: 16px;
    }

    & .blocResto{
    width: calc(100% - 10px);   
    margin:20px 5px 10px 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 30px; 
    background-color: white; 
       
        & .Rimg{
        width: 95%;
        height: 10em;    
        object-fit: cover;
        border-radius: 30px 30px 0 0 ;
        margin:5px auto;
        justify-content:center;
        }

        & article{
        width: 50%;
        flex-direction: row;
        margin-left: 20px;        
        }

        & aside{
        display:flex;
        justify-content :flex-end;
        margin-right: 1px;    
        }

        & .btnCoeur{ 
        font-size: 14px;        
        position : absolute;
        margin: 30px 10px;    
        border: 0 solid white;
        background-color: white;
                  
           

            & :nth-child(1){
            position : absolute;
            right: .5em;           
            color: $Primaire;
            background-color: white;
            opacity:1; 
            }

            & :nth-child(2){
            position : relative;
            right: .5em;            
            color: black;
            
            background-color: white;
            transition: opacity .5s cubic-bezier(.66,.02,.56,.4);           
            opacity:1; 
            }

            & :hover {
            cursor:pointer;            
                & :nth-child(2){   
                opacity: 0;
                }
            }
           
              
    }

        & .flag{
        font-family:$fontFamily1;
        color: darken(#99E2D0,50);
        font-weight: bold;
        background: darken(#99E2D0,20);
        padding:8px 15px;
        height: 1em;
        position: relative;
        bottom: 9rem; 
       
        border-radius: 3px;
            
           
        }
      
   }

}
 //**************  fin Restaurant  page Accueil ********/
 //**************  début footer  **********/
footer{
  
width: 100%;
margin:0 auto;
background-color: darken(grey,20);
padding: 30px 0 30px 0;
   
    & ul{
    list-style-type: none; 
    text-decoration: none;
    }

    & p{
    font-weight: bold;
    color: white;   
    font-size: 20px;
    margin:8px;
    }

    & .logoFoot{    
    width: 140px; 
    margin-bottom:15px;
    }

    & .foot1, .foot2{
    display:flex;   
        & i{      
        font-size: 22px;
        line-height: 2em;
        }   
    }

    & img{
    width:15px;
    margin-right: 10px;
    margin-bottom: 8px;
    }

    & a{
    text-decoration: none;
    font-family:$fontFamily1 ;
    font-weight: bold;
    color: white;   
    font-size: 20px;
    margin:8px;
    }
}   
//**************  fin footer  Accueil **********/









//    ------------------------------   ----------------------------------------
//************ pages menus resto  omf-1 à 4 ****/
//***********  header *************/
.headerM1{
margin:0 auto;
   & .retour{
    font-size: x-large;
    border:none;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
       & :hover{       
        color: lighten(black, 50);
       }
    }
    & .head{
   
    width:80%;
    display:flex;
    align-content: center;    
        &img{
        width:20em;
        margin:0 auto;

        }
    }
}
//*****  fin header ***********/
//******** image menu 1 ******/
.resto_img1{
width:99%;
margin:0 auto;

    & img{
    width:100%;
    margin:0 auto;
    object-fit: cover;
    position: relative;
    }
}
//******** debut section menu resto 1 ----/
#omf_menu1{
width: 100%;
position : relative;
margin-top: -50px;
padding-top: 10px;
padding-bottom:50px;
border-radius: 20px 20px;
background-color: $background-col;

    & .menu_heading{
    display:flex;
    justify-content: space-between;
    margin: 0 15px;

        & h1{
        font-size: 22px;
        }
    }

    & .commande{
    display:flex;
    justify-content:center;
        & .commander{
        font-family: "roboto";
        width:180px; 
        background: linear-gradient($Secondaire, $Primaire);
        border-radius: 50px;
        padding: 10px 10px;
        color: white;
        font-size: 16px;
        text-align:center;
        border:none;       
            &:hover{
                background: lighten($Secondaire, 1);                
            }
        }
    } 

    
}
//  fonctionne 
#grosCoeur{
    
    margin: 20px 10px;    
    background-color: $background-col;


        & :nth-child(1){
        font-size: 25px;
        position : absolute;
        right: 10px;           
        color: $Primaire;
        background-color: $background-col;
        opacity:1; 
        }

        & :nth-child(2){
        font-size: 25px;
        position : relative;
        right: 10px;            
        color: black;    
        background-color: $background-col;
        transition: opacity 1s cubic-bezier(.66,.02,.56,.4);           
        opacity:1; 
                
        }

        & :hover {
        cursor:pointer;     
            & :nth-child(2){ 
            opacity: 0;
            
            background-color: $background-col;
            }
        }
                
}

//******** debut articles plats ----/


.bloc_liste_plats{ 
padding-bottom: 50px;
margin:0 auto; 
width: 97%;

    & p{    
    margin: 5px 0 5px 20px;
    }

    & .trait{
    background-color:$Tertiaire;
    height:3px;
    width: 45px;
    margin: 0 20px 10px;
    }
    & ul{
    list-style-type: none;
    margin:0;
    padding:0;

        & li{
        width:99%;
        margin:0 auto; 
            & .bloc_text_plat{
            width: 95%;
            transition: width;
            transition-duration: 400ms, 400ms;
            transition-timing-function: linear;
            }
           
            & .check_btn{
            transition: width, transform ;   
            transition-duration: 400ms, 400ms;
            transition-timing-function: linear;
            width:0px;
            height:0px;
            transform:translate(0%);
            }

            & :hover{              
            cursor:pointer;
            
                & .check_btn{
                background-color: $Tertiaire;                
                width: 3.5em;
                height: 4em;
                transform: translate(0%);
                bottom:5px;
               
                
                }
                & .check_img {
                color: $Tertiaire;
                background-color: white;
                width: 1em; 
                font-size: 16px;
                animation-name: spin;
                animation-duration: 400ms;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out; 
                }  
                & .bloc_text_plat{
                width: calc(100% - 4.6em) ;
                }
                
            } 
        }
    }
     
} 
//  **********************

@keyframes spin {
    0% {
    transform:rotate(0deg);
    }    
    100% {
    transform:rotate(360deg);
    }
}  

 // ***** 
 @keyframes apparition_listePlat {
    0% {
    opacity:0; margin-bottom:25px;
    }
   
    
    100% {
    opacity:1; margin-bottom:10px;
    }
}

// **** *** *** *** 
.plats-1{
    transform: translate(0%,10%);
    animation: apparition_listePlat 2s 1;
    animation-timing-function: linear;
}
.plats-2{
    transform: translate(0%,10%);
    animation: apparition_listePlat 3s 1;
    animation-timing-function: linear;
}
.plats-3{
    transform: translate(0%,10%);
    animation: apparition_listePlat 4s 1;
    animation-timing-function: linear;
}
.plats-4{
    transform: translate(0%,10%);
    animation: apparition_listePlat 5s 1;
    animation-timing-function: linear;
}
// ----

.plats-1, .plats-2, .plats-3, .plats-4{
width:100%;
position : relative;
padding: 5px 0 5px 0; 
height: 3.2em;
margin:10px auto;
background-color: white;   
border-radius: 20px 20px;
box-shadow:  0px 5px 2px 1px darken(#f2f2f2, 5);
display: flex;
justify-content: space-between;


    & .heading_plats{
    display:flex;
    white-space: nowrap;
    width:100%; 
      

        & h2{
        width:100%;
        display: inline;
        font-size: 14px;
        margin: 5px 20px 5px 15px; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;         
        } 
    }
     
}        
//  ----------

.bloc_text_plat{
display: flex;
flex-wrap:nowrap;
flex-direction: column;
width: 100%;
justify-content: left;
padding: 0;
margin:0;

  
}

.byline_plat{
width:95%;
display:flex;
justify-content: space-between;
flex-wrap:nowrap;
margin: 0 15px;

/***********/
 

    & h3{     
    font-size: 12px;
    font-weight: 100;
    margin:0 20px 0 0;
    padding-right: 10px;
    height: 1.2rem;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap; 
    width: 100%;
    }

/* ***************************************/
    
    & p{           
    font-weight: bold;
    font-size: 12px;
    margin:0;
    padding: 0;
    
    }
}

// --------------- 
.check_btn{
display: flex;
align-content: center;
position: relative;
left:0em; 
bottom:0em;
margin: 0;                   
width: 0em;
height: 0em;

border-radius: 0 20px 20px 0;
transform: translate(0%);

    & .check_img{ 
    display:block;
    width: 0em;                   
    color: $background-col;
    font-size: 1px;
    padding: 6px 5px;
    margin: auto;
    border-radius: 100%;
    
          
    }
}

}

 
  
  


/*********** breakP tablette ***********/
@media screen and (min-width : 768px) and (max-width:1023px){

    
.vewport{
    width:768px;
    
}
//************************************* variables color ****/
$Primaire: #9356DC; 
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0 ; 

$background-col: #f2f2f2;


//************************************* variables fonts ****/
$fontFamily1: "roboto";
$fontFamily2: "Shrikhand";



//************************************* structure strings ****/

h1{ font-family: $fontFamily2;}

h2{ font-family: $fontFamily1;
    font-size: 24px; color:black;  font-weight: bold;}
h3{ font-family: $fontFamily1;
    font-size: 18px; color:black; font-weight: bold;}
p{font-family: $fontFamily1;
    font-size: 16px;color:black;} 


//************************************* container ****/
body{       

width: 98%;
padding:5px;
margin:0 auto;
}   

//**************** page d'accueil *****/
//***************   header   ****************/

header {
  
display:flex;
justify-content: center;
padding: 20px;
margin: 0 auto;
    & img{
    width: 500px;
    }
}


//    ---- ** load spinner
// --- --- ----- 


@keyframes spAp {
    0% {
    opacity:1;
    z-index: 999;
    position:absolute;
    background-color: darken($background-col,30);
    }
   80%{
        opacity:1;
        z-index: 999;
        position:absolute;
        background-color:darken($background-col,5);  
    }
    90% {
    opacity:1;
    z-index:999;
    position:absolute;
    background-color: darken($background-col,1);
    }
    100% {
    opacity:0;
    z-index:-1;
    position:relative;
    background-color:transparent;
    }
}

.sp-heart {
    width:100%;
    height:100%;   
    opacity:0;
    z-index: -1;
    position: relative; 
    animation: spAp 3s 1 cubic-bezier(0.215, 0.61, 0.355, 1); 
      
        
        & div{
        z-index:1;
        width: 50%;
        height:50%;
        margin: 0 auto;
        display:flex;
        justify-content: center;  

            & i{
            color:lighten($Primaire,15);
            font-size: 400px;
            transform-origin: 50%;
            position: absolute;
            bottom:200px;           
            background: inherit;
            animation: sp-heart 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-delay: .1s;
            animation-iteration-count:2;
            opacity:0;
            }
        
    
            & div:after, div:before {
            content: " ";
            position: absolute;
            display: block;
            width: 10px;
            height:10px;
            background: inherit;
            }
        
            & i:before {
            border-radius: 50% 0 0 50%;
            }
            & i:after {
            border-radius: 50% 50% 0 0;
            
            }
        }
    }
    @keyframes sp-heart {
        0% {
        transform: scale(0.95);
        opacity:0;
        }
        5% {
        transform: scale(1.1);
        opacity:5%;
        }
        39% {
        transform: scale(0.85);
        opacity:39%;
        }
        45% {
        transform: scale(1);
        opacity:45%;
        }
        60% {
        transform: scale(0.95);
        opacity:60%;
        }
        100% {
        transform: scale(0.9);
        opacity:0%;
        }
        
    }




//***************   localisation  ****************/
.localisation{
width:100%;
background-color: $background-col; 
padding-bottom: 30px;
display:grid;
grid-template-columns: 1fr;
text-align: center;

   
    & input{    
    border:none;
    font-size: x-large;
    font-weight: bolder;
    background-color: darken($background-col,5) ;     
    margin: 10px 20px;
    text-align: center;
        
        & i{
        margin-left:50%;
        font-size: x-large;
        } 
    }
    & h2{
    color: #9356DC;
    }
    & p{
        
    font-size: large;
    }

    & .choixVille{
    font-size: 30px;
    background-color: darken($background-col,5);  
    justify-content: center;
    padding:10px 20px;  
    box-shadow:  0px -2px 2px 1px darken($background-col, 35);
        & h2{
            font-size: x-large;           
        }
    }

    & .btnVille{
    color: white;
    font-size: x-large;
    width:250px;
    padding:20px;
    background: linear-gradient($Secondaire, $Primaire);
    border-radius: 50px;
    border:none;
    margin:0 auto;
        &:hover{
        cursor:pointer;       
        background: lighten($Secondaire, 1);
        }
    }
   

   
   
}
   
    //***************  fin localisation   ****************/
    //**************  début presentation  ********/

.presentation{
width:100%;

    & h2{
    text-align: center;
    font-size: 30px;
    color: $Primaire;
    }

    & ul{
    list-style: none;
    padding:0; 
    display: block;
    justify-content: left;     
    
        & li{
        width:100%;
        margin:0 auto;    
    
            & :hover {
            background-color: lighten($color: $Primaire, $amount: 35);
            box-shadow:  0px 2px 2px 1px darken($background-col, 75);
            
                & :not(.fcct1){                
                box-shadow: none;
                }
            }
        }

    }

    & .fctt1 {
    width:75%;
    display:flex;
    padding: 0;
    margin:20px auto;    
    border-radius: 35px;   
    background-color: $background-col ;
    box-shadow:  0px 5px 2px 1px darken($background-col, 25); 

        & p{
        margin-left: -15px;
        border: 1px solid $Primaire;
        padding:5px 15px;
        background-color: $Primaire;
        color: white;
        border-radius: 50%;
        }
    
        & i{
        align-content: center;
        font-size:22px;
        padding: 20px 20px;
        color:grey;
      
        }  
        & .icoStore i{           
        color:$Primaire;              
        }

    }  

    & a{
    font-family: "Roboto";
    text-decoration: none;
    color:black;
    font-size: 26px;
    font-weight: bold;
    border:none;
    padding: 20px;
    margin: 0 auto;
       
    }   
}
  //**************  fin presentation ********/
 //**************  début Restaurant  ********/

#sectionResto{
    width:100%;
    background-color: $background-col;
    padding-top: 30px;
    padding-bottom:60px; 
    margin-top: 50px;
    line-height: 1em;
        & .lien_blocResto_page{
        text-decoration: none;
            & :hover{
            cursor: pointer;
            }
    }

    & h2{    
        text-align: center;
        font-size: 30px;
        color: $Primaire;      
    }

    & p{
    font-size: 16px;
    }

    & .blocResto{    
    margin:20px 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 30px; 
    background-color: white; 
       
        & .Rimg{
        width: 95%;
        height: 15em;    
        object-fit: cover;
        border-radius: 30px 30px 0 0 ;
        margin:5px auto;
        justify-content:center;
        }

        & article{
        width: 50%;
        flex-direction: row;
        text-align:center; 
            & h3{
                font-size: xx-large; 
            }
            & p{
                font-size: x-large; 
            }  
        }

        & aside{
        display:flex;
        justify-content :flex-end;
        margin-right: 1px;    
        }

        & .btnCoeur{         
            position : absolute;
            margin: 30px 10px;    
            border: 0 solid white;
            background-color: white;
                      
               
    
                & :nth-child(1){
                font-size: 35px;
                position : absolute;
                right: 2em;           
                color: $Primaire;
                background-color: white;
                opacity:1; 
                }
    
                & :nth-child(2){
                    font-size: 35px;
                position : relative;
                right: 2em;            
                color: black;
                
                background-color: white;
                transition: opacity .5s cubic-bezier(.66,.02,.56,.4);           
                opacity:1; 
                }
    
                & :hover {
                cursor:pointer;            
                    & :nth-child(2){   
                    opacity: 0;
                    }
                }
              
    }

        & .flag{
        font-family:$fontFamily1;
        color: darken($Tertiaire,50);
        font-weight: bold;
        background: darken($Tertiaire,20);
        padding:15px 15px 10px 15px;
        height: 1em;
        position: relative;
        bottom: 14rem;         
        border-radius: 5px;
        font-size: x-large;
           
        }
      
   }

}
 //**************  fin Restaurant  page Accueil ********/
 //**************  début footer  **********/
footer{
  
width: 100%;
background-color: darken($background-col,20);
padding: 20px 0 20px 0;
   
    & ul{
    list-style-type: none; 
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px 40px;
    }

    & p{
    font-weight: bold;
    color: white;   
    font-size: x-large;
    margin:8px;
    }

    & .logoFoot{    
    width: 340px; 
    
    }

    & .foot1, .foot2{
    display:flex;   
        & i{      
        font-size: x-large;
        line-height: 2em;
        }   
    }

    & img{
    width:15px;
    margin-right: 10px;
    margin-bottom: 8px;
    }

    & a{
    text-decoration: none;
    font-family:$fontFamily1 ;
    font-weight: bold;
    color: white;   
    font-size: x-large;  
    margin-left: 40px;
    
    }
    
}   
//**************  fin footer  Accueil **********/









//    ------------------------------   ----------------------------------------
//************ pages menus resto  omf-1 à 4 ****/
//***********  header *************/
.headerM1{
   & .retour{
    font-size: 50px;
    border:none;
    padding-top: 20px;
    color:black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
       & :hover{       
        color: lighten(black, 50);
       }
    }
    & .head{
    margin:0 auto;
    }
}
//*****  fin header ***********/
//******** image menu 1 ******/
.resto_img1 img{
width:100%;

object-fit: cover;
position: relative;
}

//******** debut section menu resto 1 ----/
#omf_menu1{
width:100%;
margin:0 auto;
position : relative;
margin-top: -50px;
padding-top: 10px;
padding-bottom:50px;
border-radius: 20px 20px 0 0;
background-color: $background-col;

    & .menu_heading{
    width:95%;
    display:flex;
    justify-content: space-between;
    margin: 0 15px;

        & h1{
        font-size: 40px;
        }
    }

    & .commande{
    display:flex;
    justify-content:center;
        & .commander{
        font-family: "roboto";
        width:350px;
        height: 3em; 
        background: linear-gradient($Secondaire, $Primaire);
        border-radius: 50px;
        padding: 10px 10px;
        color: white;
        font-size: 22px;
        text-align:center;
        border:none;       
            &:hover{
                background: lighten($Secondaire, 1);                
            }
        }
    } 

    
}
// fonctionne 
#grosCoeur{
font-size: 30px;
margin:35px 20px;    
border: 0 solid #f2f2f2;
background-color: $background-col;


    & :nth-child(1){
    position : absolute;
    right: 10px;           
    color: $Primaire;
    background-color: $background-col;
    opacity:1; 
    }

    & :nth-child(2){
    position : relative;
    right: 10px;            
    color: black;    
    background-color:  $background-col;
    transition: opacity 1s cubic-bezier(.66,.02,.56,.4);           
    opacity:1; 
            
    }

    & :hover {
    cursor:pointer;     
        & :nth-child(2){ 
        opacity: 0;
        color:white;
        background-color:  $background-col;
        }
    }
                
}

//******** debut articles plats ----/


.bloc_liste_plats{ 
width:95%;
padding-bottom: 50px;
margin:0 auto; 

    & p{    
    margin: 5px 0 5px 20px;
    font-size: 25px;
    }

    & .trait{
    background-color: $Tertiaire;
    height:3px;
    width: 65px;
    margin: 0 20px 10px;
    }
    & ul{
    list-style-type: none;
    margin:0;
    padding:0;

    & li{
         
        & .check_btn{
            margin:0;
        transition: width, transform ;   
        transition-duration: 400ms, 400ms;
        transition-timing-function: linear;
        width:0;
        height:0;
        transform:translate(0%);
        }

        & :hover{              
        cursor:pointer;
            & .check_btn{
            background-color: $Tertiaire;                 
            width: 6em;
            height: 5.6em;
            transform: translate(0%);
            bottom:5px;   
            }

            & .check_img {
            font-size: 18px;
            color: $Tertiaire;
            background-color: white;
            width: 1.2em; 
            animation-name: spin;
            animation-duration: 500ms;
            animation-iteration-count: 1;
            animation-delay:100ms;
            animation-timing-function: ease-in-out; 
            }   
            } 
        }
    }
     
} 
//  **********************

@keyframes spin {
    0% {
    transform:rotate(0deg);
    }    
    100% {
    transform:rotate(360deg);
    }
}  

 // ***** 
 @keyframes apparition_listePlat {
    0% {
    opacity:0; margin-bottom:25px;
    }
    25%{
    opacity:.10; margin-bottom:20px;
    }
    50%{
    opacity:.25; margin-bottom:15px;
    }     
    90%{
    opacity:.5; margin-bottom:15px;    
    }   
    100% {
    opacity:1; margin-bottom:10px;
    }
}

// **** *** *** *** 
.plats-1{
    transform: translate(0%,10%);
    animation: apparition_listePlat 2s 1;
    animation-timing-function: linear;
}
.plats-2{
    transform: translate(0%,10%);
    animation: apparition_listePlat 3s 1;
    animation-timing-function: linear;
}
.plats-3{
    transform: translate(0%,10%);
    animation: apparition_listePlat 4s 1;
    animation-timing-function: linear;
}
.plats-4{
    transform: translate(0%,10%);
    animation: apparition_listePlat 5s 1;
    animation-timing-function: linear;
}
// ----

.plats-1, .plats-2, .plats-3, .plats-4{
width:95%;
position : relative;
padding: 5px 0 5px 0; 
height: 5em;
margin:10px auto;
background-color: white;   
border-radius: 30px 30px;
display: flex;


    & .heading_plats{
    width:80%;
    margin-left:30px;
    }

        & h2{
        font-size: 18px;
        margin: 10px 0 5px 15px; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;          
        } 

     
}        
//  ----------

.bloc_text_plat{
display: flex;
flex-wrap:nowrap;
flex-direction: column;
width: 100%;
justify-content: left;
padding: 0px;
margin:0px;

    & h2{
    font-size: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap; 
    }
}

.byline_plat{
width:90%;
display:flex;
justify-content: space-between;
flex-wrap:nowrap;
margin-left:40px;
 

    & h3{           
    font-size: 20px;
    font-weight: 100;
    margin:0 20px 0 0;
    padding: 0; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;   
          
    }

    & p{           
    font-weight: bold;
    font-size: 20px;
    margin:0;
    padding: 0;
     
    }
}

// --------------- 
.check_btn{
display: flex;
align-content: center;
position: relative;
left:0; 
bottom:0;
margin: 0;                   
width: 0;
height: 0;
border-radius: 0 20px 20px 0;
transform: translate(0%);

    & .check_img{ 
    display:block;
    width: 0;                   
    color: $background-col;
    font-size: 0px;
    padding: 6px 5px;
    margin: auto;
    border-radius: 100%;
    
          
    }
}
 

}



/************************************************************************************************/
//************************** breakP desk *********/
@media screen and (min-width : 1024px){
    
   
    .vewport{
        width:1024px;
    }
    //************************************* variables color ****/
    $Primaire: #9356DC; 
    $Secondaire: #FF79DA;
    $Tertiaire: #99E2D0 ; 
    
    $background-col: #f2f2f2;
    
    
    //************************************* variables fonts ****/
    $fontFamily1: "roboto";
    $fontFamily2: "Shrikhand";
    
    // *************************  mixin  *********/
    
    
    
    //************************************* structure strings ****/
    
    h1{ font-family: $fontFamily2;}
    
    h2{ font-family: $fontFamily1;
        font-size: 24px; color:black;  font-weight: bold;}
    h3{ font-family: $fontFamily1;
        font-size: 18px; color:black; font-weight: bold;}
    p{font-family: $fontFamily1;
        font-size: 16px;color:black;} 
    
    
    //************************************* container ****/
    body{       
       
    width: 99%;
    padding:5px;
    margin:5px auto;
  
    
    
    
    align-content:center;
    text-align:center;
    list-style-type: none;
    text-decoration: none;
        & img{width:35em;
        }
        
    }
    

        
      
    
    //**************** page d'accueil *****/
    //***************   header   ****************/
    
    header {   
    margin: 0 auto;
    display:flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
        & img{
        width: 500px;
        }
    }

    
//    ---- ** load spinner
// --- --- ----- 
@keyframes spAp {
    0% {
    opacity:1;
    z-index: 999;
    position:absolute;
    background-color: darken($background-col,30);
    }
   80%{
        opacity:1;
        z-index: 999;
        position:absolute;
        background-color:darken($background-col,5);  
    }
    90% {
    opacity:1;
    z-index:999;
    position:absolute;
    background-color: darken($background-col,1);
    }
    100% {
    opacity:0;
    z-index:-1;
    position:relative;
    background-color:transparent;
    }
}

.sp-heart {
    width:100%;
    height:100%;   
    opacity:0;
    z-index: -1;
    position: relative; 
    animation: spAp 3s 1 cubic-bezier(0.215, 0.61, 0.355, 1); 
      
        
        & div{
        z-index:1;
        width: 60%;
        height:10px;
        margin: 0 auto;
        display:flex;
        justify-content: center;  

            & i{
            color:lighten($Primaire,15);
            font-size: 400px;
            transform-origin: 50%;
            position: absolute;
            bottom:200px;           
            background: inherit;
            animation: sp-heart 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-delay: .1s;
            animation-iteration-count:2;
            opacity:0;
            }
        
    
            & div:after, div:before {
            content: " ";
            position: absolute;
            display: block;
            width: 10px;
            height:10px;
            background: inherit;
            }
        
            & i:before {
            border-radius: 50% 0 0 50%;
            }
            & i:after {
            border-radius: 50% 50% 0 0;
            
            }
        }
    }
    @keyframes sp-heart {
        0% {
        transform: scale(0.95);
        opacity:0;
        }
        5% {
        transform: scale(1.1);
        opacity:5%;
        }
        39% {
        transform: scale(0.85);
        opacity:39%;
        }
        45% {
        transform: scale(1);
        opacity:45%;
        }
        60% {
        transform: scale(0.95);
        opacity:60%;
        }
        100% {
        transform: scale(0.9);
        opacity:0%;
        }
        
    }





    //***************   localisation  ****************/
    .localisation{
       
    width:100%;
    background-color: $background-col; 
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    
       
        & input{    
        border:none;
        font-size: x-large;
        font-weight: bolder;
        background-color: darken($background-col,5) ;     
        margin: 10px 20px;
        text-align: center;
            
            & i{
            margin-left:50%;
            font-size: x-large;
            } 
        }
        & h2{
        color: $Primaire;
        }
        & p{
            
        font-size: large;
        }
    
        & .choixVille{
        font-size: 30px;
        background-color: darken($background-col,5);  
        justify-content: center;
        padding:10px 20px;  
        box-shadow:  0px -2px 2px 1px darken($background-col, 35);
            & h2{
                font-size: x-large;           
            }
        }
    
        & .btnVille{
        color: white;
        font-size: x-large;
        width:450px;
        padding:20px;
        background: linear-gradient($Secondaire, $Primaire);
        border-radius: 50px;
        border:none;
        margin:0 auto;
            &:hover{
            cursor:pointer;       
            background: lighten($Secondaire, 1);
            }
        }
       
    
       
       
    }
       
        //***************  fin localisation   ****************/
        //**************  début presentation  ********/
    
    .presentation{
       
    width:100%;
    margin: 0 auto;
        & h2{
        text-align: center;
        font-size: 30px;
        color: $Primaire;
        }
    
        & ul{
        list-style: none;
        padding:0; 
        display: block;
        justify-content: left;     
        
            & li{
            width:100%;
            margin:0 auto;    
        
                & :hover {
                background-color: lighten($color: $Primaire, $amount: 35);
                box-shadow:  0px 2px 2px 1px darken($background-col, 75);
                
                    & :not(.fcct1){                
                    box-shadow: none;
                    }
                }
            }
    
        }
    
        & .fctt1 {
        width:75%;
        display:flex;
        padding: 0;
        margin:30px auto;    
        border-radius: 35px;   
        background-color: $background-col ;
        box-shadow:  0px 5px 2px 1px darken($background-col, 25); 
    
            & p{
            margin-left: -15px;
            border: 1px solid $Primaire;
            padding:5px 15px;
            background-color: $Primaire;
            color: white;
            border-radius: 50%;
            }
        
            & i{
            align-content: center;
            font-size:22px;
            padding: 20px 20px;
            color:grey;
          
            }  
            & .icoStore i{           
            color:$Primaire;              
            }
    
        }  
    
        & a{
        font-family: "Roboto";
        text-decoration: none;
        color:black;
        font-size: 26px;
        font-weight: bold;
        border:none;
        padding: 20px;
        margin: 0 auto;
           
        }   
    }
      //**************  fin presentation ********/
     //**************  début Restaurant  ********/
    
    .resto{
       
        width:100%;
        background-color: $background-col;
        padding-top: 30px;
        padding-bottom:60px; 
        margin-top: 50px;
        line-height: 1em;
            & .lien_blocResto_page{
            text-decoration: none;
                & :hover{
                cursor: pointer;
                }
        }
    
        & h2{    
            text-align: center;
            font-size: 30px;
            color: $Primaire;      
        }
    
        & p{
        font-size: 16px;
        }
    
        & .blocResto{    
        margin:20px 20px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 30px; 
        background-color: white; 
           
            & .Rimg{
            width: 95%;
            height: 20em;    
            object-fit: cover;
            border-radius: 30px 30px 0 0 ;
            margin:5px auto;
            justify-content:center;
            }
    
            & article{
            width: 90%;
            display:flex;
            flex-direction: column;
            margin-left: 20px; 
                & h3{
                    font-size: xx-large; 
                }
                & p{
                    font-size: x-large; 
                }  
            }
    
            & aside{
            display:flex;
            justify-content :center;
            margin-right: 1px;    
            }
    
            & .btnCoeur{ 
                       
                position : absolute;
                margin: 30px 10px;    
                border: 0 solid white;
                background-color: white;
                          
                   
        
                    & :nth-child(1){
                        font-size: xx-large;
                    position : absolute;
                    right: 1.5em;           
                    color: $Primaire;
                    background-color: white;
                    opacity:1; 
                    }
        
                    & :nth-child(2){
                        font-size: xx-large;
                    position : relative;
                    right: 1.5em;            
                    color: black;
                    
                    background-color: white;
                    transition: opacity .5s cubic-bezier(.66,.02,.56,.4);           
                    opacity:1; 
                    }
        
                    & :hover {
                    cursor:pointer;            
                        & :nth-child(2){   
                        opacity: 0;
                        }
                    }
               
                  
        }
    
            & .flag{
            font-family:$fontFamily1;
            color: darken(#99E2D0,50);
            font-weight: bold;
            background: darken(#99E2D0,20);
            padding:15px 15px 10px 15px;
            height: 1em;
            position: absolute;
            margin-top: 350px;
            margin-left: 50px;
            border-radius: 5px;
            font-size: x-large;
               
            }
          
       }
    
    }
     //**************  fin Restaurant  page Accueil ********/
     //**************  début footer  **********/
    footer{
       
    width: 100%;
    background-color: darken(grey,20);
    padding: 20px 0 20px 0;
       
        & ul{
        list-style-type: none; 
        text-decoration: none;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr ;
        
        }
    
        & p{
        font-weight: bold;
        color: white;   
        font-size: x-large;
        margin:8px;
        }
    
        & .logoFoot{    
        width: 340px; 
        
        }
    
        & .foot1, .foot2{
        display:flex;
        justify-content: center;   
            & i{      
            font-size: x-large;
            line-height: 2em;
            }   
        }
    
        & img{
        width:15px;
        margin-right: 10px;
        margin-bottom: 8px;
        }
    
        & a{
        text-decoration: none;
        font-family:$fontFamily1 ;
        font-weight: bold;
        color: white;   
        font-size: x-large;  
       justify-content: flex-end;
        
        }
        
    }   
    
    
    
    //**************  fin footer  Accueil **********/
    
    
    
    
    
    
    //    ------------------------------   ----------------------------------------
    //************ pages menus resto  omf-1 à 4 ****/
    //***********  header *************/
    .headerM1{
       & .retour{
        font-size: 50px;
        border:none;
        color:black;
        padding-top: 20px;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
           & :hover{       
            color: lighten(black, 50);
           }
        }
        & .head{
        margin:0 auto;
        }
    }
    //*****  fin header ***********/
    //******** image menu 1 ******/
    .resto_img1 img{
    width:100%;
    height:30em;
    object-fit: cover;
    position: relative;
    }
    
    //******** debut section menu resto 1 ----/
    #omf_menu1{
    position : relative;
    margin-top: -50px;
    padding-top: 10px;
    padding-bottom:50px;
    border-radius: 20px 20px;
    background-color:$background-col;
    
    
        & .menu_heading{
        display:flex;
        justify-content: space-between;
        margin: 0 15px;
    
            & h1{
            font-size: 40px;
            margin-left: 50px;
            }
        }
    
        & .commande{
        display:flex;
        justify-content:center;
        
            & .commander{
            font-family: "roboto";
            width:350px; 
            background: linear-gradient($Secondaire, $Primaire);
            border-radius: 50px;
            padding: 10px 10px;
            color: white;
            font-size: large;
            text-align:center; 
            border:none;
        
            height: 4em;      
                &:hover{
                    background: lighten($Secondaire, 1);                
                }
            }
        } 
    
        
    }
    //  fonctionne  
    #grosCoeur{
   
    margin: 30px 10px;    
    border: 0 solid $background-col;
    background-color: $background-col;


        & :nth-child(1){
        font-size: 50px;
        position : absolute;
        right: 30px;           
        color: $Primaire;
        background-color: $background-col;
        opacity:1; 
        }

        & :nth-child(2){
        font-size: 50px;
        position : relative;
        right: 30px;            
        color: black;    
        background-color: $background-col;
        transition: opacity 1s cubic-bezier(.66,.02,.56,.4);           
        opacity:1; 
                
        }

        & :hover {
        cursor:pointer;     
            & :nth-child(2){ 
            opacity: 0;
            
            background-color: $background-col;
            }
        }
                    
    }
    
    //******** debut articles plats ----/
    
    
    .bloc_liste_plats{ 
    padding-bottom: 50px;
    margin:0 auto; 
    
        & p{    
        margin: 5px auto;
        font-size: x-large;
        }
    
        & .trait{
        background-color:$Tertiaire;
        height:5px;
        width: 150px;
        margin: 0 auto;
        }

        & ul{
        list-style-type: none;
        margin:0;
        padding:0;
        
     
            & li{  

                & .check_btn{
                transition: width, transform,  ;   
                transition-duration: 400ms, 400ms;
                transition-timing-function: linear;
                width:0;
                transform:translate(0%);
                
                }

                & :hover{              
                cursor:pointer;                
                    & h2, h3, p{
                    color: $Primaire;
                    }

                    & .check_btn{
                    background-color:$Tertiaire;                 
                    width: 6em;
                    height: 6.6em;
                    transform: translate(0%);
                   
                    bottom:5px;  
                    }

                    & .check_img {
                    color: $Tertiaire;
                    background-color: white;
                    width: 1.2em; 
                    animation-name: spin;
                    animation-duration: 400ms;
                    animation-iteration-count: 1;
                    animation-delay:100ms;
                    animation-timing-function: ease-in-out; 
                    } 
                    
                  
                }
            }
        }       
         
    } 
    

    //  **********************
    
    @keyframes spin {
        0% {
        transform:rotate(0deg);
        }    
        100% {
        transform:rotate(360deg);
        }
    }  
    
     // ***** 
     @keyframes apparition_listePlat {
        0% {
        opacity:0; margin-bottom:25px;
        }
        25%{
        opacity:.25; margin-bottom:20px;
        }
        50%{
        opacity:.35; margin-bottom:15px;    
        }
        100% {
        opacity:1; margin-bottom:10px;
        }
    }
    
    
    // **** *** *** *** 
    .plats-1{
        transform: translate(0%,10%);
        animation: apparition_listePlat 2s 1;
        animation-timing-function: linear;
    }
    .plats-2{
        transform: translate(0%,10%);
        animation: apparition_listePlat 3s 1;
        animation-timing-function: linear;
    }
    .plats-3{
        transform: translate(0%,10%);
        animation: apparition_listePlat 4s 1;
        animation-timing-function: linear;
    }
    .plats-4{
        transform: translate(0%,10%);
        animation: apparition_listePlat 5s 1;
        animation-timing-function: linear;
    }
    // ----
    
    .plats-1, .plats-2, .plats-3, .plats-4{
    width:90%;
    position : relative;
    padding: 5px 0 5px 0; 
    height:6em;
    margin:10px auto;
    background-color: white;   
    border-radius: 30px 30px;
    display: flex;
    align-content:center;
    
       
    
        & h2{
          
        font-size: x-large;
        margin: 10px auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
        } 
    
         
    }        
    //  ----------
    
    .bloc_text_plat{
    display:flex;
    width: 100%;
    justify-content: center;
    align-content:center;
    padding: 0;
    margin:0;
    }
    
    .heading_plats{
    width:50%;
    display:flex;
    align-items:center;     
    }

    .byline_plat{
    width:40%;
    margin: 20px auto;
     
     /* ***************************************/
       
    
        & h3{           
        font-size: large;
        font-weight: 100;
        margin:0 20px 0 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
              
        }
    
        & p{           
        font-weight: bold;
        font-size: x-large;
        margin:0;
        padding: 10px 0 5px 0 ;
         
        }
    }
    
    // --------------- 
    .check_btn{
    display: flex;
    align-content: center;
    position: relative;
    left:0; 
    bottom:0;
    margin: 0;                   
    width: 0;
    height: 0;
   
    border-radius: 0 20px 20px 0;
    transform: translate(0%);
    
        & .check_img{ 
        display:block;
        width: 0;                   
        color: $background-col;
        font-size: 18px;
        padding: 6px 5px;
        margin: auto;
        border-radius: 100%;
       
              
        }
    }
     
}

